<div class="global-wrapper clearfix" id="global-wrapper">
  <div class="demo_changer" id="demo_changer">
    <div class="form_holder">
      <div class="line"></div>
      <p>Color Scheme</p>
      <div class="predefined_styles" id="styleswitch_area">
        <a class="styleswitch" href="index-layout-2c392.html?default=true" style="background:#486D97;"></a>
        <a class="styleswitch" href="#" data-src="bright-turquoise" style="background:#0EBCF2;"></a>
        <a class="styleswitch" href="#" data-src="turkish-rose" style="background:#B66672;"></a>
        <a class="styleswitch" href="#" data-src="salem" style="background:#12A641;"></a>
        <a class="styleswitch" href="#" data-src="hippie-blue" style="background:#4F96B6;"></a>
        <a class="styleswitch" href="#" data-src="mandy" style="background:#E45E66;"></a>
        <a class="styleswitch" href="#" data-src="green-smoke" style="background:#96AA66;"></a>
        <a class="styleswitch" href="#" data-src="horizon" style="background:#5B84AA;"></a>
        <a class="styleswitch" href="#" data-src="cerise" style="background:#CA2AC6;"></a>
        <a class="styleswitch" href="#" data-src="brick-red" style="background:#cf315a;"></a>
        <a class="styleswitch" href="#" data-src="de-york" style="background:#74C683;"></a>
        <a class="styleswitch" href="#" data-src="shamrock" style="background:#30BBB1;"></a>
        <a class="styleswitch" href="#" data-src="studio" style="background:#7646B8;"></a>
        <a class="styleswitch" href="#" data-src="leather" style="background:#966650;"></a>
        <a class="styleswitch" href="#" data-src="denim" style="background:#1A5AE4;"></a>
        <a class="styleswitch" href="#" data-src="scarlet" style="background:#FF1D13;"></a>
      </div>
      <div class="line"></div>
      <p>Layout</p>
      <div class="predefined_styles"><a class="btn btn-xs" href="#" id="btn-wide">Wide</a>&nbsp;&nbsp;<a
        class="btn btn-xs" href="#" id="btn-boxed">Boxed</a>
      </div>
      <div class="line"></div>
      <p>Background Patterns</p>
      <div class="predefined_styles" id="patternswitch_area">
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/binding_light.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/binding_dark.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/dark_fish_skin.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/dimension.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/escheresque_ste.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/food.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/giftly.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/grey_wash_wall.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/ps_neutral.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/pw_maze_black.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/pw_pattern.png);"></a>
        <a class="patternswitch" href="#" style="background-image: url(assets/img/patterns/simple_dashed.png);"></a>
      </div>
      <div class="line"></div>
      <p>Background Images</p>
      <div class="predefined_styles" id="bgimageswitch_area">
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/bike.jpg);"
           data-src="assets/img/backgrounds/bike.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/flowers.jpg);"
           data-src="assets/img/backgrounds/flowers.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/wood.jpg);"
           data-src="assets/img/backgrounds/wood.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/taxi.jpg);"
           data-src="assets/img/backgrounds/taxi.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/phone.jpg);"
           data-src="assets/img/backgrounds/phone.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/road.jpg);"
           data-src="assets/img/backgrounds/road.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/keyboard.jpg);"
           data-src="assets/img/backgrounds/keyboard.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/beach.jpg);"
           data-src="assets/img/backgrounds/beach.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/street.jpg);"
           data-src="assets/img/backgrounds/street.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/nature.jpg);"
           data-src="assets/img/backgrounds/nature.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/bridge.jpg);"
           data-src="assets/img/backgrounds/bridge.jpg"></a>
        <a class="bgimageswitch" href="#" style="background-image: url(assets/img/switcher/cameras.jpg);"
           data-src="assets/img/backgrounds/cameras.jpg"></a>
      </div>
      <div class="line"></div>
    </div>
  </div>

  <app-navbar></app-navbar>

  <div class="owl-carousel owl-loaded owl-nav-dots-inner"
       data-options='{"items":1,"loop":true,"autoplay":true,"autoplayTimeout":5000}'>
    <div class="owl-item">
      <div class="slider-item" style="background:url(assets/img/books/harrypotter.jpg);background-position:center;">
        <div class="container">
          <div class="slider-item-inner">
            <div class="slider-item-caption-left">
              <h4 class="slider-item-caption-title" style="color: white">Harry Potter</h4>
              <p class="slider-item-caption-desc">This is for The Players</p><a class="btn btn-lg btn-ghost btn-black"
                                                                                href="#">Shop Now</a>
            </div>
            <img class="slider-item-img-right" src="assets/img/books/h" alt="Image Alternative text"
                 title="Image Title" style="top: 60%; width: 56%;"/>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-item">
      <div class="slider-item"
           style="background-image:url(assets/img/books/carousel1.jpg);">
        <div class="container">
          <div class="slider-item-inner">
            <div class="slider-item-caption-right slider-item-caption-white">
              <h4 class="slider-item-caption-title">Books! Books! Books!</h4>
              <p class="slider-item-caption-desc">Get One Just from 20 TN</p><a class="btn btn-lg btn-ghost btn-white"
                                                                              href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-item">
      <div class="slider-item" style="background-image:url(assets/img/books/carousel3.jpg);">
        <div class="container">
          <div class="slider-item-inner">
            <div class="slider-item-caption-left">
              <h4 class="slider-item-caption-title">Books</h4>
              <p style="color: whitesmoke;" class="slider-item-caption-desc">The best seller Books</p><a
              class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="container">
    <h3 class="widget-title">Read what you love , love what you read... </h3>
    <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>

      <div class="owl-item">
          <div class="product  owl-item-slide">
            <ul class="product-labels"></ul>
            <div class="product-img-wrap">
              <img class="product-img" src="{{myBooks[6]?.image}}" alt="Image Alternative text"
                   title="Image Title"/>
            </div>
            <a class="product-link" href="#"></a>
            <div class="product-caption">
              <ul class="product-caption-rating">
                <li class="rated"><i class="fa fa-star"></i>
                </li>
                <li class="rated"><i class="fa fa-star"></i>
                </li>
                <li class="rated"><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
              </ul>
              <h5  class="product-caption-title">{{myBooks[11]?.title}}</h5>
              <div class="product-caption-price"><span class="product-caption-price-new">{{myBooks[6]?.price}} DT</span>
              </div>
              <ul class="product-caption-feature-list">
                <li>Free Shipping</li>
              </ul>
            </div>
          </div>
        </div>
      <div class="owl-item">
        <div class="product  owl-item-slide">
          <ul class="product-labels"></ul>
          <div class="product-img-wrap">
            <img class="product-img" src="{{myBooks[2]?.image}}" alt="Image Alternative text"
                 title="Image Title"/>
          </div>
          <a class="product-link" href="#"></a>
          <div class="product-caption">
            <ul class="product-caption-rating">
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
            </ul>
            <h5  class="product-caption-title">{{myBooks[2]?.title}}</h5>
            <div class="product-caption-price"><span class="product-caption-price-new">{{myBooks[2]?.price}} DT</span>
            </div>
            <ul class="product-caption-feature-list">
              <li>Free Shipping</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="product  owl-item-slide">
          <ul class="product-labels"></ul>
          <div class="product-img-wrap">
            <img class="product-img" src="{{myBooks[9]?.image}}" alt="Image Alternative text"
                 title="Image Title"/>
          </div>
          <a class="product-link" href="#"></a>
          <div class="product-caption">
            <ul class="product-caption-rating">
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
            </ul>
            <h5  class="product-caption-title">{{myBooks[9]?.title}}</h5>
            <div class="product-caption-price"><span class="product-caption-price-new">{{myBooks[9]?.price}} DT </span>
            </div>
            <ul class="product-caption-feature-list">
              <li>Free Shipping</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="product  owl-item-slide">
          <ul class="product-labels"></ul>
          <div class="product-img-wrap">
            <img class="product-img" src="{{myBooks[4]?.image}}" alt="Image Alternative text"
                 title="Image Title"/>
          </div>
          <a class="product-link" href="#"></a>
          <div class="product-caption">
            <ul class="product-caption-rating">
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
            </ul>
            <h5  class="product-caption-title">{{myBooks[4]?.title}}</h5>
            <div class="product-caption-price"><span class="product-caption-price-new">{{myBooks[4]?.price}} DT</span>
            </div>
            <ul class="product-caption-feature-list">
              <li>Free Shipping</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="product  owl-item-slide">
          <ul class="product-labels"></ul>
          <div class="product-img-wrap">
            <img class="product-img" src="{{myBooks[8]?.image}}" alt="Image Alternative text"
                 title="Image Title"/>
          </div>
          <a class="product-link" href="#"></a>
          <div class="product-caption">
            <ul class="product-caption-rating">
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
            </ul>
            <h5  class="product-caption-title">{{myBooks[8]?.title}}</h5>
            <div class="product-caption-price"><span class="product-caption-price-new">{{myBooks[8]?.price}} DT</span>
            </div>
            <ul class="product-caption-feature-list">
              <li>Free Shipping</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
    <div class="gap"></div>
    <div class="row" data-gutter="15">
      <div class="col-md-4">
        <div class="banner banner-o-hid"
             style="background-image:url(assets/img/books/harrypoter.jpg);">
          <a class="banner-link" href="#"></a>
          <div class="banner-caption-left">
            <h5 class="banner-title">Discover The Mountains</h5>
            <p class="banner-desc">Pro Backpacks 70% Off.</p>
            <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
            </p>
          </div>
          <img class="banner-img"  alt="Image Alternative text" title="Image Title"
               style="bottom: -68px; right: -32px; width: 200px;"/>
        </div>
      </div>
      <div class="col-md-8">
        <div class="banner banner-o-hid"
             style="background-image:url(assets/img/books/books.jpg);">
          <a class="banner-link" href="#"></a>
          <div class="banner-caption-left">
            <h5 class="banner-title">Family Vacation Packs</h5>
            <p class="banner-desc">Save Your Family Budget</p>
            <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
            </p>
          </div>
        </div>
      </div>


    </div>
    <div class="gap"></div>

    <div class="gap"></div>
    <div class="row" data-gutter="15">

      <div class="col-md-6">
        >
      </div>
    </div>
    <div class="gap"></div>
    <h3 class="widget-title">Store Departments</h3>
    <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":7,"loop":true,"nav":true}'>
      <div class="owl-item" (click)="redirect()" >
        <a class="banner-category owl-item-slide"  >
          <img class="banner-category-img" src="assets/img/books/b6.jpg" alt="Image Alternative text"
               title="Image Title"/>
          <h5 class="banner-category-title">Action</h5>
          <p class="banner-category-desc">241 products</p>
        </a>
      </div>
      <div class="owl-item">
        <a class="banner-category owl-item-slide" (click)="redirect()">
          <img class="banner-category-img" src="assets/img/books/b1.jpg" alt="Image Alternative text"
               title="Image Title"/>
          <h5 class="banner-category-title">Science fixtion </h5>
          <p class="banner-category-desc">656 products</p>
        </a>
      </div>
      <div class="owl-item">
        <a class="banner-category owl-item-slide" (click)="redirect()">
          <img class="banner-category-img" src="assets/img/books/b4.jpg" alt="Image Alternative text"
               title="Image Title"/>
          <h5 class="banner-category-title">romance </h5>
          <p class="banner-category-desc">65 products</p>
        </a>
      </div>
      <div class="owl-item">
        <a class="banner-category owl-item-slide" (click)="redirect()">
          <img class="banner-category-img" src="assets/img/books/b5.jpg" alt="Image Alternative text"
               title="Image Title"/>
          <h5 class="banner-category-title">drama </h5>
          <p class="banner-category-desc">98 products</p>
        </a>
      </div>
      <div class="owl-item">
        <a class="banner-category owl-item-slide" (click)="redirect()">
          <img class="banner-category-img" src="assets/img/books/b2.jpg" alt="Image Alternative text"
               title="Image Title"/>
          <h5 class="banner-category-title">comedian </h5>
          <p class="banner-category-desc">44 products</p>
        </a>
      </div>


    </div>
    <div class="gap"></div>

    <div class="gap"></div>
    <div class="row" data-gutter="15">
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <div class="gap"></div>

  <app-footer></app-footer>
</div>



